[submodule "planning"]
	path = planning
	url = https://github.com/endazon/project-planning.git
[submodule "src/ai-stock-trading"]
	path = src/ai-stock-trading
	url = https://github.com/endazon/ai-stock-trading.git
	branch = develop
